<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/searching.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/app.js"></script>
</head>
<body>
<ul id="screen">
    <div id="googol-search" class="googol-search">
        <form id="myForm" action="/search" method="post">
            <div id="logo" class="logo">
                <img src="logoGoogol.png" alt="Googol Logo">
            </div>
            <div id="search-bar" class="search-bar">
                <div class="search">
                    <input id="searchText" type="text" class="search-input" placeholder="Search words..." name="text">
                </div>
            </div>
            <input type="submit" formaction="/search" value="Submit" class="search-button">
            <input type="submit" formaction="/status" value="Status" class="search-button">
        </form>
    </div>
    <div id="main-content" class="container">
        <div class="row">
            <h2 class="title" th:if="${#lists.isEmpty(results)}">No results found...</h2>
            <ul id="results">
                <li th:each="result, stat : ${results}" th:if="${stat.count <= 10}">
                    <a class="title" th:href="${result.url}" th:text="${result.title}"></a>
                    <p class="para" th:text="${#strings.abbreviate(#strings.arrayJoin(result.content, ' '), 300)}"></p>
                </li>
            </ul>
        </div>

        <div class="navigation-buttons">
            <button id="previous-button" class="search-button">Previous</button>
            <button id="next-button" class="search-button">Next</button>
        </div>

    </div>
</ul>
<script>
    $(document).ready(function() {
    var page = 0;

    $('#next-button').click(function() {
        page++;
        console.log("PAGE:"  + page);
        $.post('/search', {text: $('#searchText').val(), page: page}, function(data) {
            $('#screen').html(data);
        });
    });

    $('#previous-button').click(function() {
        if (page > 0) {
            page--;
        console.log("PAGE:"  + page);
            $.post('/search', {text: $('#searchText').val(), page: page}, function(data) {
                $('#screen').html(data);
            });
        }
    });
});
</script>

</body>
</html>