<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Lucky Page</title>
    <link href="/my.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/app.js"></script>
    <style>
        body {
            background-color: red;
        }
    </style>
</head>
<body>
<h1>Status page!</h1>
<!-- Add more content here as needed -->
</body>
</html>