<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Lucky Page</title>
    <link href="/status.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/app.js"></script>
</head>
<body onload="subscribe()">
<div id="googol-status" class="googol-search">

    <div id="logo" class="logo">
        <img src="logoGoogol.png" alt="Googol Logo">
    </div>

    <div id="server-message">
    </div>

    <table id="barrel-table" class="table table-striped">
        <thead>
        <tr>
            <th>Barrel ID</th>
            <th>Response Time</th>
            <th>Repartition</th>
        </tr>
        </thead>
        <tbody id="messages">
        </tbody>
    </table>

</div>
</body>
</html>